---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	
		<h2><a href="/" class="title">{SITE_TITLE}</a></h2>
	
</header>
<style>
	header {
		margin: 0;
		background: #1e1f21;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		grid-column: span 2;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
  		display: grid;
  		grid-template-columns: 1fr auto 1fr;
  		align-items: center;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
	.title {
  		padding: 1em 1em;
  		background: #1e1f21;
  		display: flex;
  		align-items: center;
		outline: 1px red solid;
		outline-offset: -2px;
	}
</style>
